.hero.is-primary
  .hero-body
    .container
      %h1.title #{ENV['WEBSITE_TITLE']} Terms and Conditions of Use
%section.section
  .container
    .content
      %h2 1. Terms
      %p By accessing this Website, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.
      %h2 2. Use License
      %p Permission is granted to temporarily download one copy of the materials on #{ENV['WEBSITE_TITLE']}‘s Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title.
      %p This will let #{ENV['WEBSITE_TITLE']} to terminate upon violations of any of these restrictions.
      %h2 3. User Submitted Content
      %p By submitting content to #{ENV['WEBSITE_TITLE']} you agree to the following conditions:
      %ul
        %li You have legal rights to any/all content submitted.
        %li You grant #{ENV['WEBSITE_TITLE']} the rights to display submitted content.
      %h2 4. Disclaimer
      %p All the materials on #{ENV['WEBSITE_TITLE']}’s Website are provided “as is”. #{ENV['WEBSITE_TITLE']} makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, #{ENV['WEBSITE_TITLE']} does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials, get more info or any sites linked to this Website.
      %h2 5. Limitations
      %p #{ENV['WEBSITE_TITLE']} or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on #{ENV['WEBSITE_TITLE']}’s Website, even if #{ENV['WEBSITE_TITLE']} or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.
      %h2 6. Revisions and Errata
      %p The materials appearing on #{ENV['WEBSITE_TITLE']}’s Website may include technical, typographical, or photographic errors. #{ENV['WEBSITE_TITLE']} will not promise that any of the materials in this Website are accurate, complete, or current. #{ENV['WEBSITE_TITLE']} may change the materials contained on its Website at any time without notice. #{ENV['WEBSITE_TITLE']} does not make any commitment to update the materials.
      %h2 7. Links
      %p #{ENV['WEBSITE_TITLE']} has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by #{ENV['WEBSITE_TITLE']} of the site. The use of any linked website is at the user’s own risk.
      %h2 8. Site Terms of Use Modifications
      %p #{ENV['WEBSITE_TITLE']} may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.
      %h2 9. Governing Law
      %p Any claim related to #{ENV['WEBSITE_TITLE']}‘s Website shall be governed by the laws of United States of America without regards to its conflict of law provisions.
      %p  
        %strong Last Edited on 2017-09-18