%ul.timeline
  %li.timeline-header
    %span.tag.is-medium.is-primary 
      %a.has-text-white Now
  - @chapters.order(created_at: :desc).each do |chapter|
    - chapter.scenes.order(created_at: :desc).each do |scene|
      %li.timeline-item
        .timeline-content
          %h4.is-size-6.title 
            %a{href: "#{url_builder(@campaign, chapter, scene)}"} 
              %span #{scene.title}
          %h5.is-size-6.subtitle #{scene.description}
    %li.timeline-item
      .timeline-marker.is-icon
        %i.fa.fa-book
      .timeline-content
        %h4.is-size-5.title 
          %a{href: "#{url_builder(@campaign, chapter)}"} #{chapter.title}
        %h5.is-size-6.subtitle #{chapter.description}
  %li.timeline-header
    %span.tag.is-medium.is-primary 
      %a.has-text-white Start
