= partial 'scenes/scene_header'
= partial 'layouts/breadcrumb'
%section.section
  .container
    %h3.title.has-text-centered Editing Reply
    = partial 'replies/form'
= partial 'chat_messages/sidebar'
= partial 'notes/sidebar'      