!!! 5
%html
  %head
    %title #{title_builder}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport"}
    %link{rel: :stylesheet, type: :"text/css", href: "/stylesheets/openpbp.min.css"}
    %link{rel: :stylesheet, type: :"text/css", href: "/stylesheets/openpbp.css"}    
    %link{rel: :stylesheet, type: :"text/css", href: "https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i"}
    %script{:type => "text/javascript", :src  => "https://use.fontawesome.com/2aeb71a2ad.js"}
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "notification has-text-centered #{flash_type(name)} is-marginless"
    %section.section
      .container
        .columns
          .column.is-6.is-offset-3
            %h1.title.has-text-centered Chat History for #{@campaign.title}
            - @chat_messages.each_with_index do |chat_message, i|
              .chat-message
                - if campaign_gm?(@campaign, session[:user_id])
                  %a.has-text-danger{href: "#{url_builder(@campaign)}/ooc/delete/#{chat_message.id}"}(data-confirm="This action is permanent and irrevocable, are you sure?")
                    %span.icon.is-small
                      %i.fa.fa-times
                = chat_message.created_at.strftime("%Y-%m-%d %H:%M:%S")
                %strong #{chat_message.name}: 
                #{chat_message.message}